body {
    background: aquamarine;
}
.column {
    display: flex;
    flex-direction: column;
    background: cornflowerblue;
    width: 100%;
}
.row {
    display: flex;
    flex-direction: row;
    height: 180px;
    margin-top: 10px;
    margin-left: 80px;
    background: cornflowerblue;
}
.card {

    margin-left: 10px;
    width: 137px;
    height: 163.5px;
    cursor:pointer;
}
.img1 {
    position: absolute;
    z-index: 1;
    width: 137px;

}
.img2 {
     z-index: 2;
     position: relative;
     width: 70px;
 }
.pattern {
    margin-left: 25%;
    margin-top: 50%;
    margin-bottom: 50%;
    width: 70px;
}
.button{
    cursor: pointer;
}