body {
    background: aquamarine;
}
h1{
    text-align: center;
}
.column {
    display: flex;
    flex-direction: column;
    background: cornflowerblue;
    width: 100%;
}
.row {
    display: flex;
    flex-direction: row;
    margin: 10px auto;
    background: cornflowerblue;
}
.card {

    margin-left: 10px;
    width: 137px;
    height: 163.5px;
    cursor:pointer;
}
.img1 {
    position: absolute;
    z-index: 1;
    width: 137px;

}
.img2 {
     z-index: 2;
     position: relative;
     width: 70px;
 }
.pattern {
    margin-left: 25%;
    margin-top: 50%;
    width: 70px;
}
.button{
    cursor: pointer;
    padding: 6px 12px;
    background: chocolate;
    border-radius: 5px;
    margin-left: 5px;
}
.cardLeft{
    margin-left: 5px;
    margin-top: 10px;
    padding: 6px 12px;
    width: 140px;
    border: solid olivedrab;
}